.greyfont{
    color:#909399;
}
.redfont{
    color:#AE0000;
    font-weight:bold;
}
.bluefont{
    color:#409EFF;
    font-weight:bold;
}

.bg-purple {
    background: #6C6C6C	 ;
  }
  .bg-purple-light {
    background: #FCFCFC;
  }
